In [2]:
import pandas as pd
import numpy as np
import sklearn

In [3]:
df=pd.read_csv("Finaldata.csv")

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
vectorizer=TfidfVectorizer(ngram_range=(1,6))
tfidf=vectorizer.fit_transform(df['comb'])

In [6]:
from sklearn.metrics.pairwise import cosine_similarity

In [12]:
def movie_recommend(title):
    query_vec=vectorizer.transform(df['comb'][df['movie_title']==title])
    simalarity=cosine_similarity(query_vec,tfidf)
    f=simalarity.flatten()
    index=(np.argsort(f)[-10:])
    return  df.loc[index,['movie_title','genres']]

In [16]:
movie_recommend(input("Enter the movie name "))

Enter the movie name this is 40

                    movie_title             genres
741                  this is it  Documentary Music
2205  this is where i leave you       Comedy Drama
4995      this is martin bonner              Drama
1546            this is the end     Comedy Fantasy
4216            this is england        Crime Drama
1413                 trainwreck     Comedy Romance
1834     the 40-year-old virgin     Comedy Romance
1796                 knocked up     Comedy Romance
569                funny people       Comedy Drama
1430                 this is 40             Comedy